body,h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
  font-family: "Sofia", sans-serif;
  font-family: "Sofia", sans-serif;
  
}

header {
  background-image: url("image/sale.jpg");
  color: #dbdbd9;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #223a5e;
  color: #fff;
  padding: 1rem;
}

.navbar-logo {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu li {
  margin-right: 1rem;
}

.navbar-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.navbar-menu a:hover {
  background-color: #f5a623;
}

.navbar-buttons {
  display: flex;
}

.navbar-button {
  background-color: #f5a623;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-right: 1rem;
  transition: all 0.2s ease-in-out;
}

.navbar-button:hover {
  background-color: #ffc107;
  cursor: pointer;
}

/* Styles for the hero section */

.hero {
	
	background-size: cover;
	background-position: center;
	color: #f3eded;
	padding: 100px 20px;
	text-align: center;
}

.hero h1 {
	font-size: 3rem;
	margin-top: 0;
	margin-bottom: 20px;
}

.hero p {
	font-size: 1.5rem;
	margin-bottom: 40px;
}

.hero button {
	background-color: #eb0985;
	color: #333;
	border: none;
	padding: 10px 20px;
	font-size: 1.2rem;
	cursor: pointer;
}

/* Styles for the features section */

.features {
	padding: 100px 20px;
	text-align: center;
  background-color: #b1b3b6;
}

.features h2 {
	font-size: 2.5rem;
	margin-bottom: 40px;
}
#services {
	background-color: #f9f9f9;
	padding: 50px;
	text-align: center;
}

#services h2 {
	margin-top: 0;
}

#services p {
	margin-bottom: 50px;
}

.service-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

.service {
	margin: 20px;
	max-width: 350px;
	text-align: left;
}

.service img {
	width: 100%;
	max-width: 300px;
	margin-bottom: 20px;
}

.service h3 {
	margin-top: 0;
}

.service p {
	margin-bottom: 20px;
}

.button {
	background-color: #333;
	border: none;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
}

.button:hover {
	background-color: #555;
	cursor: pointer;
}
#shop {
	background-color: #fff;
	padding: 50px;
	text-align: center;
}

#shop h2 {
	margin-top: 0;
}

#shop p {
	margin-bottom: 50px;
}

.product-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

.product {
	margin: 20px;
	max-width: 350px;
	text-align: left;
}

.product img {
	width: 100%;
	max-width: 300px;
	margin-bottom: 20px;
}

.product h3 {
	margin-top: 0;
}

.product p {
	margin-bottom: 20px;
}

.price {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.button {
	background-color: #333;
	border: none;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
}

.button:hover {
	background-color: #555;
	cursor: pointer;
}
#contact {
	background-color: #f6f6f6;
	padding: 50px;
	text-align: center;
  }
  
  h2 {
	margin-bottom: 20px;
  }
  
  form {
	display: inline-block;
	text-align: left;
  }
  
  label {
	display: block;
	margin-bottom: 5px;
  }
  
  input,
  textarea {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  button[type="submit"] {
	background-color: #0077cc;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  button[type="submit"]:hover {
	background-color: #005fa3;
  }
  
  .contact-info {
	display: inline-block;
	text-align: left;
	margin-left: 50px;
	vertical-align: top;
  }
  
  h3 {
	margin-bottom: 20px;
  }
  
  p {
	margin-bottom: 10px;
  }
  
  a {
	color: #0077cc;
	text-decoration: none;
  }
  
  a:hover {
	text-decoration: underline;
  }
  footer {
	background-color: #2c2b2b;
	padding: 50px 0;
	font-size: 14px;
	color: #ddd;
  }
  
  .container {
	max-width: 1200px;
	margin: 0px;
	padding:  10px ;
  }
  
  .row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
  }
  
  .col-md-4 {
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
	padding: 0 15px;
  }
  
  h3 {
	margin-bottom: 20px;
  }
  
  p {
	margin-bottom: 20px;
	line-height: 1.5;
  }
  
  a {
	color: #0077cc;
	text-decoration: none;
  }
  
  a:hover {
	text-decoration: underline;
  }
  
  .bottom-bar {
	background-color: #ddd;
	padding: 20px ;
	color: #2c2b2b;

  }
  
  .bottom-bar p {
	margin: 0;
	text-align: center;
  }
  